/*======== Variables css ========*/
:root{
   /**Colors**/
   --black: #040404;
   --white: #fff;
   --color-link: #ba49e7;
}
/*======== Base ========*/
body{
   font-family: "Open Sans", sans-serif;
   background-color: var(--black);
   color: var(--white);
   position: relative;
   background: transparent;
}
body::before{
   content: "";
   position: fixed;
   background: var(--black) url('../img/hero.jpg') top right no-repeat;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   left: 0;
   right: 0;
   top: 0;
   height: 0;
   height: 100vh;
   z-index: -1;
}

@media screen and (min-width: 1024px){
   body::before{
      background-attachment: fixed;
   }
} 

a {
   color: var(--color-link);
   text-decoration: none;
}
a:hover{
   color: var(--color-link);
   text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
   font-family: "Raleway", sans-serif;
}

/*======== Header ========*/
.header{
   transition: ease-in-out 0.3s;
   position: relative;
   height: 100vh;
   display: flex;
   align-items: center;
   z-index: 997;
   overflow-y: auto;
}
.header *{
   transition: ease-in-out 0.3s;
}
.header__title{
   font-size: 48px;
   margin: 0;
   padding: 0;
   line-height: 1;
   color: var(--white);
   font-weight: 700;
   font-family: "Poppins", sans-serif;
}
.header h1 a:hover {
   color: #fff;
   line-height: 1;
   display: inline-block;
 }
.header__title--span{
   display: block;
   margin-bottom: 10px;
}
.header__subtitle{
   font-size: 24px;
   margin-top: 10px;
   color: rgba(255, 255, 255, 0.8);
}
.header__subtitle--span{
   color: var(--white);
   border-bottom: 2px solid var(--color-link);
}
/*======== Social Links ========*/
.social-links{
   margin-top: 40px;
   display: flex;
}
.social-links a{
   font-size: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(255, 255, 255, 0.1);
   color: var(--white);
   line-height: 1;
   margin-right: 8px;
   border-radius: 50%;
   width: 40px;
   height: 40px;
}
.social-links a:hover{
   background: var(--color-link);
}

@media screen and (max-width: 992px){
   .header__title{
      font-size: 36px;
   }
   .header__subtitle{
      font-size: 20px;
      line-height: 20px;
   }
   .social-links{
      margin-top: 15px;
   }
   .container{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}